* {
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	width: 100%;
}

body{
	background-color: rgb(223, 224, 235);
}

main{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.wrap {
	width: 400px;
	height: 500px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 13px 11px rgba(34, 60, 80, 0.23);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.wrap::before {
	content: "Hello, Teacher!";
	position: absolute;
	top: 40px;
	font-family: RobotoBlack;
	font-size: 24px;
}

.teacher_name{
	width: 70%;
	margin-bottom: 40px;
}

button.go {
	width: 70%;
}