@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
	font-family: "RobotoBlack";
	src: url("../fonts/Roboto/Roboto-Black.ttf");
}
