html, body{
	width: 100%;
	height: 100%;
}
/* main{
	position: relative;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 100%;
	height: 100%;
	padding-bottom: 80px;
}


.wrap {
	width: 400px;
	height: 500px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 14px 0px rgb(34 60 80 / 27%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.wrap::before {
	content: "Hello, Teacher!";
	position: absolute;
	top: 40px;
	font-family: RobotoBlack;
	font-size: 24px;
}

.teacher_name{
	width: 70% !important;
	margin-bottom: 40px;
}
.teacher_name option{
	width: 70% !important;
}

a.go {
	width: 70%;
} */

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
main.main-auth{
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #b92b27, #1565c0)
}

.card {
	margin-bottom: 20px;
	border: none !important;
}

.box {
	width: 500px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #191919;
	;
	text-align: center;
	transition: 0.25s;
	margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 10px 10px;
	width: 250px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s
}

.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
	width: 300px;
	border-color: #2ecc71
}

.box input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer
}

.box .btn-login {
	width: 150px;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	text-decoration: none;
}

.box input[type="submit"]:hover {
	background: #2ecc71;
}
.box .btn-login:hover {
	background: #2ecc71;
	text-decoration: none;
}

.forgot {
	text-decoration: underline
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0
}

ul.social-network li {
	display: inline;
	margin: 0 5px
}

.social-network a.icoFacebook:hover {
	background-color: #3B5998
}

.social-network a.icoTwitter:hover {
	background-color: #33ccff
}

.social-network a.icoGoogle:hover {
	background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
	color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
	color: #44BCDD
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 20px
}

.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
	transform: rotate(360deg);
	transition: all 0.2s
}

.social-circle i {
	color: #fff;
	transition: all 0.8s;
	transition: all 0.8s
}