/*setting for bootstrap*/
nav {
	padding: 8px 30px !important;
}
ul.navbar-nav.ml-auto{
	margin-right: 50px;
}
ul.navbar-nav.ml-auto li a{
	margin-right: 15px;
}

#dropdown-button-drop-right{
	width: 100%;
	background-color: #fff;
	color: #000;
	text-align: left;
	border: none;
	border-bottom: 1px solid rgb(207, 207, 207);
	outline: none;
	box-shadow: none;
	transition: all ease-in-out .1s;
	border-radius: 0;
}
#dropdown-button-drop-right:hover{
	background-color: rgb(240, 240, 240);

}
.dropdown-item.active{
	background-color: #fff !important;
}
/*Styles fot lk page*/

.mark-span{
	color: #159f46;
}

.right-floating{
	margin-left: auto;
	order: 2;
}

.right-floating a{
	margin-right: 10px;
}
.right-floating a.logout{
	background-color: #d71313;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
	text-decoration: none;
}
.spanLikeLink{
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}
.spanLikeLink:hover {
	color: #0056b3;
	text-decoration: underline;
	cursor: pointer;
}
main{
  flex-direction: column;

}

main .teacher-panel{
	width: 100%;
	/*height: 70px;*/
	padding: 10px 30px;
	margin-top: 15px;
}
main .teacher-panel .wrap-teacher-panel{
	height: 70px;
	background-color: #fff;
	padding: 8px 20px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: space-between;*/
}
/*.wrap-teacher-panel:first-of-type > a:last-child {
	order: 2;
}*/
.wrap-teacher-panel .teacher-panel-name{
	font-size: 1.4em;
}
/*.wrap-teacher-panel .link-homemephi{
	margin-left: auto;
	order: 2;
}*/
.techer-panel-mark{
	padding: 3px 10px;
	border-radius: 3px;
	margin-left: 10px;
	color: white;
}

.techer-panel-mark.mark-subject{
	background-color: #ef7c06;
}
.techer-panel-mark.mark-groups{
	background-color: #9323f9;
}
/*----------------------------------------------------------------------------*/
/*-------------------------------/ Schedule /---------------------------------*/
/*----------------------------------------------------------------------------*/

.schedule{
	width: 100%;
	padding: 15px 30px;
}


.schedule-wrap{
	background-color: #fff;
	padding: 35px 30px;
	border-radius: 8px;
	margin-bottom: 70px;
}

h4.schedule-name{
	border-bottom: 2px solid #e9f0ff;
}

.schedule-days{
	padding: 20px 0;
}
.schedule-day{
	box-shadow: 0px 0px 19px 0px rgb(66 66 66 / 29%);
	padding: 20px 15px;
	border-radius: 5px;
	margin: 20px 0 40px 0;
}
.schedule-day-name{
}
.schedule-day .lessons{

}
.schedule-day .lessons .lesson{
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 5px;
	/*box-shadow: 0px 0px 19px 0px rgb(66 66 66 / 29%);*/
	border: 1px solid #0048a175;
	padding: 8px 15px;
	margin-top: 10px;
}
.lessons .lesson .time{
	margin-right: 5px;
}	

.lessons .lesson .type{
	margin: 0 5px;
	width: 40px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
}
.wday{
	width: 0;
	height: 0;
	position: relative;
}
.wday::after{
	content: ''; 
	position: absolute;
	width: 22px;
	height: 22px;
}
.wday-wrap{
	border-radius: 3px;
	overflow: hidden;
}
.wday-1 {
	border-top: 22px solid #088032; 
	border-right: 22px solid transparent;
}
.wday-1::after {
	top: -22px;
	border: 1px solid #088032;
}
.wday-2 {
	border-bottom: 22px solid #088032; 
	border-left: 22px solid transparent;
}
.wday-2::after {
	left: -22px;
	border: 1px solid #088032;
}
.wday-0{
	width: 22px;
	height: 22px;
	background-color: #088032;
	border: 1px solid #045721;
}

.type-practice{
	background-color: #1919e9;
}
.type-lecture{
	background-color: #0f690f;
}
.type-lab{
	background-color: #9d11c0;
}
.type-none{
	background-color: #363635;
}

.lessons .lesson .name{
	margin: 0 10px;
	font-family: RobotoRegular;
	min-width: 150px;
	cursor: pointer;
}

.lessons .lesson .groups{
	max-width: 586px;
	overflow-x: hidden;
}


.schedule-day .lessons .lesson .place{
	margin-left: auto;
	order: 2;
	margin-right: 10px;
	background-color: #f2992c;
	color: white;
	padding: 0 6px;
	border-radius: 3px;
	max-width: 70px;
	text-align: center;
	max-height: 25px;
	overflow: hidden;
}
.schedule-day .lessons .lesson .duration{
	margin-left: auto;
	/*float: right;*/
	/*order: 2;*/
	margin-right: 10px;
	/*background-color: red;*/
	color: #333;
	border: 1px solid #888;
	padding: 2px 6px;
	border-radius: 3px;
	position: absolute;
	right: 170px;
}

.link-group{
	margin-right: 5px;
}

/*----------------------------------------------------------------------------*/
/*-------------------------------/ My Links /---------------------------------*/
/*----------------------------------------------------------------------------*/
.card-wrap{
	width: 100%;
	height: 86%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	padding: 0 0 70px 0;
}
.card{

}


/*----------------------------------------------------------------------------*/
/*-------------------------------/ Footer /-----------------------------------*/
/*----------------------------------------------------------------------------*/

footer {
	text-align: center;
	width: 100%;
	height: 50px;
	/*padding: 10px 30px;*/
	position: fixed;
	bottom: 0;
	margin-top: 20px;
	border-top: 1px solid #d5d5d5;
}

footer .wrap-footer{
	height: 100%;
	background-color: #fff;
	/*border-radius: 8px;*/
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p{

}
span.markFooterGray{
	color: #999;
}