/*setting for bootstrap*/

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	padding: 8px 30px !important;
	background-color: var(--global-color-grey) !important;
}
a.navbar-brand{
	color: #fff !important;
}
ul.navbar-nav.ml-auto{
	margin-right: 50px;
}
ul.navbar-nav.ml-auto li a{
	margin-right: 15px;
}
.ml-auto.navbar-nav a.nav-link{
	color: rgb(228, 228, 228) !important;
	font-weight: 100 !important;
}
.form-control{
	background-color: black !important;
	border: 1px solid var(--global-color-border) !important;
	color: rgb(211, 211, 211) !important;
}
#dropdown-button-drop-left, #dropdown-button-drop-right{
	width: 100%;
	background-color: #fff;
	color: #000;
	text-align: left;
	border: none;
	border-bottom: 1px solid rgb(207, 207, 207);
	outline: none;
	box-shadow: none;
	transition: all ease-in-out .1s;
	border-radius: 0;
}
#dropdown-button-drop-left:hover, #dropdown-button-drop-right:hover{
	background-color: rgb(240, 240, 240);

}
.dropdown-item.active{
	background-color: #fff !important;
}
/*Styles fot lk page*/

.mark-span{
	color: var(--global-color-green);
}

.right-floating{
	margin-left: auto;
	order: 2;
}

.right-floating a{
	margin-right: 10px;
	color: #fff;
}
.right-floating a.logout{
	color: white !important;
	margin: 0
}
.spanLikeLink{
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}
.spanLikeLink:hover {
	color: #0056b3;
	text-decoration: underline;
	cursor: pointer;
}
main{
  flex-direction: column;
}

main .teacher-panel{
	width: 100%;
	/*height: 70px;*/
	padding: 10px 30px;
	margin-top: 15px;
}
main .teacher-panel .wrap-teacher-panel{
	height: 70px;
	background-color: var(--global-color-black);
	padding: 8px 30px;
	border-radius: 6px;
	border: 1px solid var(--global-color-border);
	display: flex;
	flex-direction: row;
	color: rgb(233, 233, 233);
	align-items: center;
	/*justify-content: space-between;*/
}
/*.wrap-teacher-panel:first-of-type > a:last-child {
	order: 2;
}*/
.wrap-teacher-panel .teacher-panel-name{
	font-size: 1.4em;
	font-family: RobotoBold;
}
/*.wrap-teacher-panel .link-homemephi{
	margin-left: auto;
	order: 2;
}*/
.techer-panel-mark{
	padding: 3px 10px;
	border-radius: 3px;
	margin-left: 10px;
	color: rgb(230, 230, 230);
	
}

.techer-panel-mark.mark-subject{
	background-color: var(--global-color-green);
	font-weight: initial;
}
.techer-panel-mark.mark-groups{
	background-color: var(--global-color-blue);
	font-weight: initial;
}

.dropdown-menu.show{
	background-color: var(--global-color-black);
	box-shadow: 0 0 12px rgb(23, 25, 31);
}
.dropdown-menu.show .dropright button,
.dropdown-menu.show .dropleft button {
	background-color: var(--global-color-black) !important;
	border-bottom: 1px solid var(--global-color-border) !important;
	color: rgb(218, 218, 218) !important;
	transition: all 0.15s ease-in-out;
}
a.dropdown-item{
	color: rgb(218, 218, 218) !important;
	transition: all 0.15s ease-in-out;
}
a.dropdown-item:hover, a.dropdown-item:active, a.dropdown-item:focus{
	background-color: var(--global-color-border);
}
a.dropdown-item.active{
	background-color: var(--global-color-border) !important;
}

.dropdown-menu.show .dropright:last-child button,
.dropdown-menu.show .dropleft:last-child button {
	border: none !important;
}
/*----------------------------------------------------------------------------*/
/*-------------------------------/ Schedule /---------------------------------*/
/*----------------------------------------------------------------------------*/

.schedule{
	width: 100%;
	padding: 15px 30px;
	color: rgb(233, 233, 233);
}


.schedule-wrap{
	background-color: var(--global-color-black);
	border: 1px solid var(--global-color-border);
	padding: 30px;
	border-radius: 6px;
	margin-bottom: 70px;
}

h4.schedule-name{
	border-bottom: 2px solid var(--global-color-border);
	font-family: RobotoBold;
	line-height: 45px;
}

.schedule-days{
	padding: 20px 0;
}
.schedule-day{
	box-shadow: 0px 0px 19px 0px rgb(66 66 66 / 29%);
	padding: 20px 15px;
	border-radius: 5px;
	margin: 20px 0 40px 0;
}
.schedule-day .lessons .lesson{
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 5px;
	/*box-shadow: 0px 0px 19px 0px rgb(66 66 66 / 29%);*/
	border: 1px solid var(--global-color-border);
	padding: 8px 15px;
	margin-top: 10px;
	transition: all .15s ease-in-out;
}
.schedule-day .lessons .lesson:hover{
	background-color: var(--global-color-border);
}
.lessons .lesson .time{
	margin-right: 5px;
}	

.lessons .lesson .type{
	margin: 0 5px;
	width: 40px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
}
.wday{
	width: 0;
	height: 0;
	position: relative;
}
.wday::after{
	content: ''; 
	position: absolute;
	width: 22px;
	height: 22px;
}
.wday-wrap{
	border-radius: 3px;
	overflow: hidden;
}
.wday-1 {
	border-top: 22px solid #088032; 
	border-right: 22px solid transparent;
}
.wday-1::after {
	top: -22px;
	border: 1px solid #088032;
}
.wday-2 {
	border-bottom: 22px solid #088032; 
	border-left: 22px solid transparent;
}
.wday-2::after {
	left: -22px;
	border: 1px solid #088032;
}
.wday-0{
	width: 22px;
	height: 22px;
	background-color: #088032;
	border: 1px solid #045721;
}

.type-practice{
	background-color: #1919e9;
}
.type-lecture{
	background-color: #0f690f;
}
.type-lab{
	background-color: #9d11c0;
}
.type-none{
	background-color: #363635;
}

.lessons .lesson .name{
	margin: 0 10px;
	font-family: RobotoRegular;
	min-width: 150px;
	cursor: pointer;
}

.lessons .lesson .groups{
	max-width: 586px;
	overflow-x: hidden;
}


.schedule-day .lessons .lesson .place{
	margin-left: auto;
	order: 2;
	margin-right: 10px;
	border: 1px solid var(--global-color-border);
	color: white;
	padding: 2px 6px;
	border-radius: 3px;
	max-width: 70px;
	text-align: center;
	/* max-height: 25px; */
	overflow: hidden;
}
.schedule-day .lessons .lesson .duration{
	margin-left: auto;
	/*float: right;*/
	/*order: 2;*/
	margin-right: 10px;
	/*background-color: red;*/
	color: rgb(238, 238, 238);
	border: 1px solid var(--global-color-border);
	padding: 2px 6px;
	border-radius: 3px;
	position: absolute;
	right: 170px;
}

.link-group{
	margin-right: 5px;
}

/*----------------------------------------------------------------------------*/
/*-------------------------------/ My Links /---------------------------------*/
/*----------------------------------------------------------------------------*/
.card-wrap{
	width: 100%;
	height: 86%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	padding: 0 0 70px 0;
}
.card{

}


/*----------------------------------------------------------------------------*/
/*-------------------------------/ Footer /-----------------------------------*/
/*----------------------------------------------------------------------------*/

footer {
	text-align: center;
	width: 100%;
	height: 50px;
	/*padding: 10px 30px;*/
	position: fixed;
	bottom: 0;
	margin-top: 20px;
	border-top: 1px solid var(--global-color-border);
}

footer .wrap-footer{
	height: 100%;
	background-color: var(--global-color-grey);
	/*border-radius: 8px;*/
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer .wrap-footer span{
	color: rgb(160, 160, 160);
	font-family: RobotoLight;
}
span.markFooterGray{
	color: rgb(219, 219, 219) !important;
}