.panelHeadTable{
	/*width: 100%;*/
	height: 70px;
	/*margin-bottom: 20px;*/
	background-color: var(--global-color-pink);
	box-shadow: 0px 0px 14px 0px rgb(34 60 80 / 27%);
	padding: 10px 30px;
	border-radius: 5px 5px 0 0;
}
.panelHeadTable .tableWrap {
	/*width: 200px;*/
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.tableWrap .subjectToGroup{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.tableWrap .subjectToGroup .groups, .subjects{
	max-width: 80%;
	margin-right: 10%;
}
.tableWrap .subjectToGroup .types{
	width: 100px;
	margin-right: 10%;
}
.table-wrap{
	width: 100%;
	padding: 0 30px;
	margin-top: 15px;
}
.TABLE table{
	border-radius: 0 0 5px 5px;
	overflow-x: scroll;
	display: block;
	table-layout: fixed;
	word-wrap: break-word;
}
.TABLE table th .itemTH{
	display: block;
	min-width: 44px;
	text-align: center;
}
.TABLE table td.main{
	padding: 5px 12px;
	position: relative;
	width: 50px;
	height: 100%;
	overflow: hidden;
}
.TABLE table td.time{
	width: 10% !important;
}
.TABLE table td.main input{
	width: 100%;
	height: 35px;
	outline: none;
}
.TABLE table td.main button{
	position: absolute;
	right: 0px;
	top: 4px;
}
.reportButton{
	margin-left: 20px;
}

/* switcher */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 24px;
	margin: 0 10px;
 }
 .name_switch{
	position: absolute;
	left: -60px;
 }
 header.light .name_switch{
	color: #000;
 }
 .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
 }
 
 .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
 }
 
 .slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 1px;
	bottom: 1px;
	background-color: white;
	transition: .4s;
 }
 
 input:checked + .slider.toggleIndicate {
	/* background-color: #2196F3; */
	background: rgb(185,0,0);
	background: linear-gradient(90deg, rgba(185,0,0,1) 0%, rgba(179,189,15,1) 46%, rgba(40,169,196,1) 76%);
 }
 input:checked + .slider.toggleEdit {
	/* background-color: #2196F3; */
	background: var(--global-color-blue);
 }
 
 input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
 }
 
 /* Rounded sliders */
 .slider.round {
	border-radius: 34px;
 }
 
 .slider.round:before {
	border-radius: 50%;
 }

 .additionalButton{
	 /* display: block; */
	 width: 25px;
	 height: 25px;
	 background-color: rgb(175, 175, 175);
	 /* float: right; */
	 position: absolute;
	 border-radius: 50%;
	 right: 8.8px;
	 top: 5px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 /* background-image: url("/media/images/icon-ui-1-options-512.png"); */
	 cursor: pointer;
 }
 .additionalButton img{
	 width: 70%;
	 height: auto;
	 cursor: pointer;
 }
 .wrap-body-popup{
	 display: flex;
	 flex-direction: column;
 }
 .wrap-body-popup button {
	 margin-bottom: 8px;
	 /* height: 30 */
 }

 /* .button-delete-row{
	 margin-bottom: 8px;
	 border-radius: 3px;
	 border: 2px solid rgb(155, 15, 15);
	 background-color: rgb(189, 10, 10);
	 height: 30px;
	 color: #fff;
 } */
 .item-data{
	 float: left;
 }
 .headman{
	 background-color: rgb(221, 217, 9);
	 color: #fff;
	 padding: 3px 5px;
	 border-radius: 3px;
	width: 30px;
	float: left;
	margin-left: 5px;
 }